/vendor/
/web/core/
/web/modules/contrib/
/web/profiles/contrib/
/web/themes/contrib/
/web/libraries/
/web/sites/default/files/
/web/sites/default/private/
/web/sites/default/simpletest/
/web/sites/default/settings*.php
/web/sites/default/services*.yml
